.container{
    height: 360px;
    width: 720px;
    background-color: pink;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    row-gap: 10px;
    column-gap: 10px;

}
.footer{
    grid-column:1/12 ;
}
