h1{
    font-size: 55px;
    font-family: league spartan;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    color:#ffa511;
    text-decoration: rgb(39, 123, 138) double underline;
    text-transform: uppercase;

}